@using System.Globalization;
@model IEnumerable<Client.Models.Event>
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    CultureInfo cultureId = new CultureInfo("id-ID");
}

<head>
    <link rel="stylesheet" href="~/css/IndexCss.css" asp-append-version="true" />
</head>

<section class="hero-area">

    <div class="main__circle"></div>
    <div class="main__circle2"></div>
    <div class="main__circle3"></div>
    <div class="main__circle4"></div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-12">

                <div class="hero-content">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Let's Join Events</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Join this event and have an amazing experience! 
                        Meet fellow enthusiasts, learn something new, and enhance your professional network. 
                        Don't miss this opportunity to immerse yourself in an energetic atmosphere and be part of an unforgettable event!
                    </p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <label for="modal-toggle" style="display:none;" class="btn">Join Event Now!</label>
                        </div>
                    }
                    else
                    {
                        <div class="button wow fadeInUp" data-wow-delay=".8s">
                            <label for="modal-toggle" class="btn">Join Event Now!</label>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

    <input type="checkbox" id="modal-toggle">
    <div class="modal">
        <div class="modal-content">
            <label for="modal-toggle" class="close">&times;</label>
            <p>You must be login before joined the event!</p>
            <a href="/Account/Logins" class="btn btn-outline-primary d-flex justify-content-center">Login</a>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
        </g>
    </svg>

</section>

<section class="features section">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3 class="wow zoomIn" data-wow-delay=".2s">Why join SPARK?</h3>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Why you should Join Event</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">
                        Attending events is crucial as it offers opportunities to network, learn, gain inspiration, and personal and professional development.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-12 wow fadeInUp mb-5" data-wow-delay=".2s">
                <div class="row row-cols-md-3 g-5 mb-5" style="margin: 0 30px 0 30px; display:wrap;">

                    @foreach (var item in Model)
                    {
                        @if (item.IsValid)
                        {
                            string startMonth = item.StartDate.ToString("MMMM", cultureId); // Get the month from StartDate
                            string endMonth = item.EndDate.ToString("MMMM", cultureId); // Get the month from EndDate
                            string startDay = item.StartDate.ToString("dd", cultureId); // Get the day from StartDate
                            string endDay = item.EndDate.ToString("dd", cultureId); // Get the day from EndDate
                            string startYear = item.StartDate.ToString("yyyy", cultureId); // Get the year from StartDate
                            string startTime = item.StartDate.ToString("HH:mm", cultureId); // Get the start time from StartDate
                            string startday = item.StartDate.ToString("dddd", cultureId); // Get the start time from StartDate

                            string formatmonth;
                            if (item.StartDate.Month == item.EndDate.Month)
                            {
                                formatmonth = startMonth;
                            }
                            else
                            {
                                formatmonth = $"{startMonth} - {endMonth}";
                            }

                            string formatday;
                            if (item.StartDate.Day == item.EndDate.Day)
                            {
                                formatday = startDay;
                            }
                            else
                            {
                                formatday = $"{startDay} - {endDay}";
                            }

                            string dateevent = $"{startday}, {startDay} {startMonth} {startYear}";
                            
                            <div class="col">
                                <div class="card card1">
                                    <img class="" style="height:200px;" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Poster)" alt="Poster" />

                                    <div class="meta">
                                        <div style="display:block;">

                                            <div class="meta-left">
                                                <span class="up-month">@formatmonth</span>
                                                <span class="up-day">@formatday</span>
                                            </div>

                                            <div class="meta-right">
                                                <h5 style="font-size:22px; font-weight:800;">@Html.DisplayFor(modelItem => item.Name)</h5>
                                                <span class="venue"><i class="fas fa-map-marker-alt"> </i> @Html.DisplayFor(modelItem => item.Location)</span>

                                                <div style="float: left; width: 35%; box-sizing: border-box; line-height: 1.5;">
                                                    @if (item.Status.ToString() == "Online")
                                                    {
                                                        <span class="venue"><i class="fas fa-globe"></i> @Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="venue"><i class="fas fas fa-building"></i> @Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                </div>

                                                <div style="float: left; width:35%; box-sizing: border-box; line-height: 1.5;">
                                                    <span class="venue"><i class="fas fa-comment-dollar"> </i> @Html.DisplayFor(modelItem => item.Price)</span>
                                                </div>

                                                <div style="float: left; width:25%; box-sizing: border-box; line-height: 1.5;">
                                                    <span class="venue toh"><i class="fas fa-users"> </i> @Html.DisplayFor(modelItem => item.Quota)</span>
                                                </div>

                                                <span class="venue toh">
                                                    <i class="fas fa-calendar-alt"></i>
                                                    @dateevent <a>at</a> @startTime
                                                </span>

                                            </div>
                                        </div>

                                        <a asp-controller="Event" asp-action="Detail" asp-route-id="@item.Guid" class="card-button1">Read More</a>
                                    </div>
                                </div>

                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>