@model IEnumerable<Client.ViewModels.ParticipantList>

@{
    ViewData["Title"] = "ListParticipant";
    Layout = "_Layout";
}

<head>
    <style>

        /* TABLES */
        .table {
            border-collapse: separate;
            width: 50%;
        }

        .table-hover > tbody > tr:hover > td,
        .table-hover > tbody > tr:hover > th {
            background-color: #eee;
        }

        .table thead > tr > th {
            border-bottom: 1px solid #C2C2C2;
            padding-bottom: 0;
        }

        .table tbody > tr > td {
            font-size: 0.875em;
            background: #f5f5f5;
            border-top: 10px solid #fff;
            vertical-align: middle;
            padding: 12px 8px;
        }

            .table tbody > tr > td:first-child,
            .table thead > tr > th:first-child {
                padding-left: 20px;
            }

        .table thead > tr > th span {
            border-bottom: 2px solid #C2C2C2;
            display: inline-block;
            padding: 0 5px;
            padding-bottom: 5px;
            font-weight: normal;
        }

        .align-items-center {
            align-items: center !important;
            background: #101130;
        }
    </style>
</head>


<div class="d-flex justify-content-center mt-10">

    <table class="table mt-100">
        <thead>
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(model => model.UserGuid)
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone Number
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.UserGuid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center mt-10">
    <a href="javascript:history.back();" class="btn btn-primary">Back</a>
</div>
